body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
section{
    display: flex;
    
}
.half-width{
    width: 50%;
    
}
.half-width img{
    width: 100%;
    
}
.h1{
    font-size: 50px;
    padding-left: 40px;
}
.h2{
    font-size: 40px;
    padding-left: 40px;
}
.sd{
    color: orangered;
}
.pj{
    text-align:justify;
    padding-left: 10px;
    padding-left: 40px;
}
.link-media{
    background-image: linear-gradient(orange,tomato);
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 7px;
    margin-left: 40px;
}
.top-bannar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}